.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #d9d9d9;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #c3c3c3;
  font-size: 8rem;
  color: #191e1d;
}

p {
  font-size: 2rem;
  color: #191e1d;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 10%;
  color: #0e0101;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.credit {
  text-decoration: none;
  color: #3F4E4F;
  font-weight: 600;
  font-size: 1.3rem;
}

.credit:hover {
  color: #cb847a;
}
